.background {
    display: flex;
    background-image: url(..//images/bg-stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
    perspective: 300px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 80px;
    letter-spacing: 5px;
    line-height: 100px;
    font-weight: 700;
  }
 .text h1, h2{
     text-align: center;
     font-size: 90px;
     padding-bottom: 60px;
  }
@keyframes move {
    0% {
        top: 800px;
        transform: rotateX(30deg)  translateZ(0);
    }
    100% { 
        top: -2700px;
        transform: rotateX(30deg) translateZ(-1350px);
    }
  }
  .text {
      position: relative;
      animation: move 30s linear infinite;
      color: #ffd700;
      text-align: justify;
  }